---
layout: default
---

<!DOCTYPE html>
<style>
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}
</style>
<html lang="en">

  {% include head.html %}

    {% include header.html %}


<h1>My First JavaScript Animation</h1>
<p><button onclick="myMove()">Click Me</button></p> 
<div id ="container">
  <div id ="animate"></div>
</div>



    <main id="main">
      {{ content }}
    </main>
    <script src={{ "/assets/js/instantclick.min.js" | relative_url }}  data-no-instant></script>
    <script data-no-instant>
      InstantClick.init();
      function myMove() {
  var elem = document.getElementById("animate");
  var pos = 0;
  var id = setInterval(frame, 5);
  function frame() {
    if (pos == 350) {
      clearInterval(id);
    } else {
      pos++;
      elem.style.top = pos + 'px';
      elem.style.left = pos + 'px';
    }
  }
} 
    </script>
  </body>
</html>
